*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: RedHatDisplay;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.main {
display: flex;
flex-direction: row;
}

.header{
    padding-top: 50px;
    margin-bottom: 20px;
}

.products {
width: 70%;
}

.product__list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 3.33%;
    row-gap: 30px;
    
}

.product__list-item{
    width: 30%;
    list-style: none;
}
.product__image-container {
    height:250px;
    background-color: #eee;
     border-radius: 8px;
}

.cart {
background-color: #eee;
border-radius: 8px;
width: 30%;
padding: 20px;
}

.cart__heading {
    margin-bottom: 16px;
}
.cart__list {

}

.cart__list-item {
list-style: none;
display: flex;
justify-content: space-between;
}

.cart__list-item-details{
    display: flex;
}

.cart__total{
    margin: 20px 0;
}

@font-face{
    font-family:RedHatDisplay;
    font-weight: 400;
    src: url(../fonts/RedHatDisplay-Regular.ttf);
}

@font-face{
    font-family:RedHatDisplay;
    font-weight: 700;
    src: url(../fonts/RedHatDisplay-Bold.ttf);
}

@font-face{
    font-family:RedHatDisplay;
    font-weight: 600;
    src: url(../fonts/RedHatDisplay-SemiBold.ttf);
}